/* Global styles */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#444;
    background: #ccc;
    margin: 0;
    padding: 0;

    background:
    radial-gradient(#CAAC76 15%, transparent 16%) 0 0,
    radial-gradient(#CAAC76 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(202,172,118,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(202,172,118,.1) 15%, transparent 20%) 8px 9px;
    background-color:#DBBD87;
    background-size:16px 16px;
}

a, a:visited {
    color: #7F6C4B;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: #CAAC76;
    transition: all 0.5s;
}

.link-button, a.link-button {
    display:inline-block;
    background:#F5CE85;
    color:white;
    font-size: 12pt;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #967A44;
    margin:10px;
    text-shadow: none;
    background-image: url(/assets/images/halftonebg.png);
    background-position-y: -50%;
    background-size: 470px 270px;
    transition: all 1s;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.link-button:hover { 
    background-position-y: -50%;
    background-size: 570px 370px;
    transition: all 1s;
}