
#header {
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
    border-bottom: 2px solid #CAAC76;
}

#content { 
    background: white;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 5px 20px black
}

.title-link {
    color:white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

#title {
    margin-bottom: 0;
    font-size: 50pt;
    margin-top: 10px;
}

#subtitle {
    margin-left:20px;
    font-size: 12pt;
    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#logo {
    height: 50pt;
    margin-left:20px;
}

#footer {
    text-align: center;
    padding: 30px 0;
    border-top: 2px solid #CAAC76;
    color:white;
    text-shadow: 1px 1px 1px black;
    margin: 0;
}