.post-title {
   display:block; 
   width: 300px; 
   height: 110px; 
   border: 1px solid #967A44; 
   background-color: #F5CE85;
   color: #eee;
   margin: 20px;
   padding: 10px;
   float: left;
   text-decoration: none;
   font-size: 30pt;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   overflow: hidden;
   text-overflow: ellipsis;
   text-shadow: 1px 1px 1px black;
   background-image: url(/assets/images/halftonebg.png);
   background-size: 100%;
   transition: all 1s;
   margin:20px;
   padding: 5px 10px;
   box-shadow: 0 0px 5px rgba(0,0,0,0.5);
}

.post-title:hover {
   background-position-y: -20px;
   background-size: 110%;
   transition: all 1s;
   color: white;
}